<div class="row">
  <div class="col-xs-4"></div>
    
  <div class="col-xs-4 login"> 
    <h1>Editing Comment</h1>

    <%= form_for([book.author, book, @comment]) do |f| %>
    <div class="field">
      <%= f.text_field :text %>
    </div>
    <div class="actions">
      <%= f.submit "Edit comment", class: "button" %>
    </div>
    <% end %>

    <td><%= link_to 'Back',  author_book_path(book.author, book), class: "link" %></td>
  </div>

  <div class="col-xs-4"></div>
</div>
